main#playoff-bracket-entry {
    margin-top: 1em;
    margin-bottom: 1em;
    width: calc( 100vw - ( 100vw - 100% ) );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

main#playoff-bracket-entry > h1 {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 2.5em;
    padding: 0.5em;
    text-align: center;
    border: 1px solid white;
    border-radius: 0.5em;
}

main#playoff-bracket-entry > h2 {
    margin: 1em;
    text-align: center;
}

#red {
    color: red;
}
#white {
    color: white;
}
#black {
    color: black;
}
