main#playoff-bracket {
   position: relative;
   z-index: 1;
   min-height: 100vh;
   font-size: clamp( 8px, 1vw, 12px );
   padding-bottom: 20em;

   display: flex;
   flex-direction: column;
   overflow-x: hidden;
   gap: 2em;

   color: white;
}

#playoff-bracket > h1 {
   font-size: 3em;
   margin: 1em 0 0.5em 0;
   text-align: center;
}

#focus-selection-group {
   display: flex;
   align-items: center;
   justify-content: center;
}

.MuiSelect-icon > path {
   color: white;
}

#playoff-bracket-content {
   position: relative;
   width: 200vw;

   display: flex;
   align-items: start;
   justify-content: space-evenly;

   transition: margin-left 400ms ease-in-out;
}

#playoff-bracket-background-picture {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: -1;
   opacity: 0.1;

   background-image: url("/public/images/playoff-bracket-background.jpg");
   background-size: cover;
}

/* Mobile Styles */
@media (max-width: 768px) {
   main#playoff-bracket {
      font-size: clamp( 3px, 1.5vw, 12px );
   }

   #playoff-bracket > h1 {
      font-size: 4em;
   }
   
   #focus-selection-group {
      font-size: 2em;
      margin-bottom: 0.5em;
   }
}